<a href="https://colab.research.google.com/github/jnelly79/Colorado_Solar_Installation_Adoption_Rates_DS/blob/master/data_cleaning/cleaning_total_energy_consumption_CO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import pandas
import pandas as pd

In [ ]:
# Load the total energy consumption from CO and the MSN codes description.
df = pd.read_excel('/content/drive/My Drive/datasets/data_practicum/total_energy_consumption_CO.xlsx', sheet_name='cleaning')
codes = pd.read_csv('/content/drive/My Drive/datasets/data_practicum/Codes_and_Descriptions_consumption_data.csv', encoding='ISO-8859-1')

In [ ]:
df.head()

  Data_Status State    MSN  Description  ...     2014     2015     2016     2017
0       2017F    CO  ABICB          NaN  ...     -1.0     -2.0     -2.0     -1.0
1       2017F    CO  ABICP          NaN  ...      0.0      0.0      0.0      0.0
2       2017F    CO  ARICB          NaN  ...  15914.0  16581.0  16365.0  11527.0
3       2017F    CO  ARICP          NaN  ...   2398.0   2499.0   2466.0   1737.0
4       2017F    CO  ARTCB          NaN  ...  15914.0  16581.0  16365.0  11527.0

[5 rows x 63 columns]

In [ ]:
# Turn the MSN, the descriptions, and unit columns into  a list.
code = codes['MSN'].tolist()
desc = codes['Description'].tolist()
unit = codes['Unit'].tolist()

In [ ]:
"""
Set up the format for which the function will iterate through and append the
descriptions and the values of the MSN codes together.
"""
res = {key: {'Description': Description, 'Unit': Unit} for key, Description, Unit in zip(code, desc, unit)}

In [ ]:
res

In [ ]:
# Define both functions for appending descriptions and values.
def desc(x):
  for k,v in res.items():
      if k in x:
        return v['Description']
        
def unit(x):
    for k,v in res.items():
      if k in x:
        return v['Unit']

In [ ]:
# Apply both functions for the description and unit columns to the MSN column.
df['Description'] = df['MSN'].apply(desc)
df['Unit'] = df['MSN'].apply(unit)

In [ ]:
df.head()

  Data_Status State    MSN  ...     2015     2016     2017
0       2017F    CO  ABICB  ...     -2.0     -2.0     -1.0
1       2017F    CO  ABICP  ...      0.0      0.0      0.0
2       2017F    CO  ARICB  ...  16581.0  16365.0  11527.0
3       2017F    CO  ARICP  ...   2499.0   2466.0   1737.0
4       2017F    CO  ARTCB  ...  16581.0  16365.0  11527.0

[5 rows x 63 columns]

In [ ]:
# Export the data into a csv or excel file.
df.to_excel('/content/drive/My Drive/datasets/data_practicum/total_energy_consumption_CO_clean.xlsx', sheet_name='cleaned')